/**
 * Global block style settings.
 */

:root {
  --quote-default-color: #1389fb;
  --quote-default-font-size: 32px;
  --quote-default-font-weight: 700;

  --cite-default-color: #6d6d6d;
  --cite-default-font-size: 16px;
  --cite-default-font-weight: 600;
}
