/**
 * Timeular Quote Block editor style.
 *
 * 1. Reset WordPress default style.
 */

.wp-block-timeular-quote-block {
  &__quote {
    &.rich-text {
      // [1]
      margin: 0;
      font-size: var(--quote-default-font-size);
      line-height: 1.476;
    }
  }

  &__cite {
    font-style: unset; // [1]

    &.rich-text {
      // [1]
      font-size: var(--cite-default-font-size);
    }
  }
}
