/**
 * Timeular Quote Block style.
 *
 * 1. Reset WordPress default style.
 * 2. Generated selectors:
 *    .wp-block-timeular-quote-block:hover .wp-block-timeular-quote-block__share
 *    .wp-block-timeular-quote-block:focus .wp-block-timeular-quote-block__share
 */

@import '_config.core.scss';

.wp-block-timeular-quote-block {
  margin-top: 0; // [1]
  margin-bottom: 0; // [1]
  border: 0; // [1]
  padding: 3.6em 0;
  $root: &;

  &__quote {
    margin-bottom: 0;
    color: var(--quote-default-color);
    font-size: var(--quote-default-font-size);
    font-weight: var(--quote-default-font-weight);
    quotes: '“' '”';

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
  }

  &__cite {
    margin-top: 0; // [1]
    font-weight: 600;
    color: var(--cite-default-color);
    font-size: var(--cite-default-font-size);
    font-weight: var(--cite-default-font-weight);
    font-style: unset;
  }

  &__share {
    display: none;
    margin-left: auto;

    #{$root}:hover &,
    #{$root}:focus & {
      // [2]
      display: flex;
      touch-action: none;
    }

    .share__link:nth-child(3n + 2) {
      margin: 0 5px;
    }
  }
}
